<html lang="en">
    <body>
        <ul>
            <li><a href="/">Home</a> </li>
        </ul>
            <div>
                <form  action="/user/create" method="post">
                    <label>email:</label>
                    <input type="text" name="email" required>
                    <label >firstName:</label>
                    <input type="text" id="" name="firstName" required>
                    <label >lastName:</label>
                    <input type="text" id="" name="lastName">
                    <label >phone:</label>
                    <input type="text" id="" name="phone">
                    <input type="submit" value="Submit">
                </form>
            </div>
    </body>

</html>