<html lang="en">
    <body>
        
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/user/list">User list</a></li>
            <li><a href="/user/create">New user</a></li>
        </ul>
    </body>

</html>